@model WebUI.Models.WhitelistFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction == "CreateWhitelist")
    {
        ViewBag.Title = "Add Whitelist";
    }
    else
    {
        ViewBag.Title = ViewBag.name + " | Edit";
    }
    backLink = Url.Action("CrewWhitelist");
}

@{
    ViewBag.Title = "FormWhitelist";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (@Html.BeginForm( currentAction, currentController, new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Barcode, "Crew", new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(model => model.Barcode, new SelectList(ViewBag.Crew, "Text", "Value")
                , "PILIH CREW"
             , new { @class = "form-control" }
                   )
            @*@Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Barcode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TanggalAwal, "Tanggal Awal", new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.TanggalAwal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TanggalAwal)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TanggalAkhir, "Tanggal Akhir", new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.TanggalAkhir, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TanggalAkhir)
        </div>
    </div>    

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@backLink" class="btn btn-link">Cancel</a>
        </div>
    </div>
}

@section scripts
    {
    <script type="text/javascript">
        // scripts here
        $(document).ready(function () {
            $("#TanggalAwal").kendoDatePicker({ dateFormat: 'dd/mm/yy' });
            $("#TanggalAkhir").kendoDatePicker({ dateFormat: 'dd/mm/yy' });

            if ('@currentAction' == "CreateWhitelist") {
                $("#TanggalAwal").kendoDatePicker({ value: new Date() });
                $("#TanggalAkhir").kendoDatePicker({ value: new Date() });
            }
        });
    </script>
}


