@model WebUI.Models.CrewFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction == "CreateCrew")
    {
        ViewBag.Title = "Add Crew";
    }
    else
    {
        ViewBag.Title = ViewBag.name + " | Edit";
    }
    backLink = Url.Action("CrewCRUD");
}

@{
    ViewBag.Title = "FormCrew";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Barcode)

    <div class="form-group">
        @Html.LabelFor(model => model.NamaCrew, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.NamaCrew, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NamaCrew)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TanggalDaftar, "Tanggal Daftar" , new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.TanggalDaftar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TanggalDaftar)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(model => model.Status, new SelectList(
                  new List<Object>{
                       new { value = "Pilot" , text = "Pilot"  },
                       new { value = "Pramugari" , text = "Pramugari" }
                    },
                  "value",
                  "text",
                   2)
                , "PILIH POSISI"
             , new { @class = "form-control" } 
                   )
            @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Status)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Airport, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.Airport, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Airport)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CompanyAirways, "Company Airways", new { @class = "col-xs-2 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(model => model.CompanyAirways, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyAirways)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@backLink" class="btn btn-link">Cancel</a>
        </div>
    </div>
}

@section scripts
    {
    <script type="text/javascript">
        // scripts here
        $(document).ready(function () {
            $("#TanggalDaftar").kendoDatePicker({ dateFormat: 'dd/mm/yy' });

            if ('@currentAction' == "CreateCrew") {
                $("#TanggalDaftar").kendoDatePicker({ value: new Date() });
            }
        });
    </script>
}
